.posters {
    .owl-carousel {
        background-image: linear-gradient(to bottom, #23232794, #060b50c4), url(../../assets/images/up7.jpg);
        background-position: center;
        background-size: cover;
        padding-top: 2vh;

        .owl-stage-outer {
            .owl-stage {
                .owl-item {
                    transform: scaleX(0.95);
                    clip-path: polygon(35% 0, 65% 0, 100% 12%, 100% 88%, 65% 100%, 35% 100%, 0 88%, 0 13%);
                    opacity: 0.8;

                    &.active {
                        transform: scaleX(1) !important;
                        clip-path: none;
                        opacity: 1;
                        transition: all .3s ease-in-out;

                    }
                }

            }
        }
        .owl-dots{
            button{
                &.owl-dot{
                    color:#000!important;
                    height: 30px!important;
                    width: 30px!important;
                    background:#000!important;
                }
            }
        }

    }
}