<footer class="bg-dark text-center text-white position-absolute clearfix">
	<div class="container p-4 pb-0">
		<section class="mb-4">
			<a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998;" href="#!" role="button">
				<i class="fa fa-facebook" aria-hidden="true"></i>
			</a>
			<a class="btn btn-primary btn-floating m-1" style="background-color: #333333;" href="#!" role="button">
				<i class="fa fa-github" aria-hidden="true"></i>
			</a>
		</section>
	</div>
	<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
		© 2021 Copyright:
		<a class="text-white" href="https://mdbootstrap.com/">CineJun</a>
	</div>
</footer>