.sidebar {
    min-height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 5px 0 #00000029;
    background-color: #fff;
    padding: 0;
    padding-bottom: 1.5rem;
    z-index: 1;
    ul {
        position: relative;
        .btn_menu {
            position: absolute;
            top: 0;
            left: 90%;
        }
        li {
            border: none;
            padding: 0;
            &:first-child {
                text-align: center;
                // padding: .8445rem 1rem;
            }
            &:not(:first-child) {
                border-top: 1px rgb(226, 226, 226) solid;
                a {
                    img {
                        width: 100%;
                        max-width: 100px;
                    }
                    &:hover {
                        color: #fff;
                        background-color: #007bff !important;
                    }
                }
            }
            &.logOut {
                color: #635f5f;
                font-weight: 400;
                padding: 1rem 1rem 1rem 1.25rem;
                display: block;
            }
            a {
                color: rgb(99, 95, 95);
                font-weight: 400;
                padding: 1rem 1rem 1rem 1.25rem;
                display: block;
            }
            .dropdown_menu {
                ul {
                    display: none;
                }
                &:hover ul {
                    display: block;
                }
            }
        }
    }
    @media (max-width: 1199.98px) {
        display: none;
        transition: ease-in-out 0.3s all;
    }
}