.seat_matrix {
    margin-bottom: 18px;
    perspective: 400px;
    display: grid;
    place-items: center;
    grid-gap: 24px;
    .screen {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: 500;
        text-transform: uppercase;
        border-top-left-radius: 80%;
        border-top-right-radius: 80%;
        border-top: 4px solid #e2c72e;
        position: relative;
        height: 70px;
        max-width: 500px;
        // background: white;
        width: 100%;
        // transform: rotateX(-30deg) scale(1.1);
        // box-shadow: 0 3px 10px 2px;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: unset;
            left: 30%;
            right: 30%;
            box-shadow: 0px 12px 20px 9px;
        }
    }
    .seats {
        display: grid;
        grid-gap: 6px;
        grid-template-columns: repeat(8, min-content);
        align-items: center;
        .seat {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            background: #3f7480;
            width: 35px;
            height: 35px;
            border-top-left-radius: 50%;
            border-top-right-radius: 50%;
            transition: transform 0.3s ease-in-out;
            position: relative;
            top: 1px;
            &.selected {
                background: #e2c72e !important;
            }
            &.occupied {
                opacity: 0.3;
            }
            &:nth-of-type(8n + 2) {
                margin-right: 12px;
            }
            &:nth-of-type(8n + 6) {
                margin-right: 12px;
            }
            &.selected {
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 2px;
                    width: 120%;
                    height: 120%;
                    border-radius: 100%;
                    background: transparent;
                    border: 1px solid #e2c72e;
                    animation: show-off 0.8s;
                    visibility: hidden;
                }
            }
            &:not(.occupied) {
                &:hover,
                &:focus {
                    cursor: pointer;
                    background: #eae4c1;
                    transform: scale(1.1);
                }
            }
        }
    }
}

@keyframes show-off {
    0% {
        transform: scale(1);
        opacity: 1;
        visibility: visible;
    }
    100% {
        transform: scale(3);
        opacity: 0;
    }
}