.wrapper_template {
    min-height: 100vh;
}

.wrapper_content {
    min-height: 100vh;
    position: relative;
    background-color: #f1eff2;
    .poster {
        max-height: 500px;
        img {}
    }
}

.row_full_screen {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}