<div class="container border mt-5">
	<form method="POST" enctype="multipart/form-data" id="film" action="http://localhost:3000/api/v1/film/add">
		<div class="form-group">
			<label for="filmName">Tên Phim:</label>
			<input type="text" class="form-control" id="filmName" name="filmName" placeholder="Nhập tên phim">
		</div>
		<div class="form-group">
			<label for="country">Quốc Gia Sản Xuất:</label>
			<input type="text" class="form-control" id="country" name="country" placeholder="Tên quốc gia sản xuất">
		</div>
		<div class="form-group">
			<label for="releaseYear">Năm phát hành:</label>
			<input type="number" class="form-control" id="releaseYear" name="releaseYear" placeholder="Năm phát hành">
		</div>
		<div class="form-group">
			<label for="duration">Thời lượng(phút):</label>
			<input type="number" class="form-control" id="duration" name="duration" placeholder="Năm phát hành">
		</div>
		<div class="form-group">
			<label for="directors">Đạo diễn:</label>
			<textarea class="form-control" id="directors" name="director" rows="3"
				placeholder="Đạo diễn phim"></textarea>
		</div>
		<div class="form-group">
			<label for="actors">Diễn viên</label>
			<textarea class="form-control" id="actors" name="actors" rows="3"
				placeholder="Diễn viên của phim"></textarea>
		</div>
		<div class="form-group">
			<label for="actors">Thumnail</label>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text">Thumnail</span>
				</div>
				<div class="custom-file">
					<input type="file" class="custom-file-input" id="thumbnail" name="thumbnail" accept="image/*">
					<label class="custom-file-label" for="thumbnail">Chọn thumbnail</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="actors">Poster</label>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text">Poster</span>
				</div>
				<div class="custom-file">
					<input type="file" class="custom-file-input" id="poster" name="poster" accept="image/*">
					<label class="custom-file-label" for="poster">Chọn poster</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<select class="custom-select" id="categoryId">
			</select>
		</div>
		<div class="form-group" id="statusId">

		</div>
		<button type="submit" class="btn btn-primary">Tạo Phim</button>
	</form>
</div>