.brand {
    color: #e2c72e!important;
    font-weight: 700;
}

.dropdown {
    color: #dbe2fb!important;
    background: #081b27!important;
    overflow: hidden;
    width: 100%;
    max-width: 160px;
}

.dropdownProfile {
    width: 350px;
    padding: 20px !important;
    border: 1px solid #dfe3eb !important;
    top: 8px !important;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 40px rgba(34, 34, 34, 0.2);
    .item_user {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        i {
            font-size: 50px;
            color: #b0bcda;
        }
        div {
            display: flex;
            flex-direction: column;
            margin-left: 15px;
        }
        &:hover {
            background-color: unset !important;
        }
    }
    .item_information {
        padding: 10px 12px !important;
        span {
            &:first-child {
                font-size: 16px !important;
            }
        }
        &:hover,
        &:hover a {
            background-color: unset !important;
            color: #0352cc !important;
            transition: all .3s ease-in-out !important;
        }
        a {
            color: #12263f !important;
            display: flex;
            align-items: center;
            span {
                margin-right: 10px;
            }
        }
    }
}