.cluster_thumbnail {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    background-position: center;
    background-size: cover;
}

.tab_Clusters {
    // background-color: yellow!important;
    >div {
        &:first-child {
            >div {
                >div {
                    >div {
                        padding: 0!important;
                        width: 100%;
                        display: block;
                        .info_cluster {
                            text-align: left;
                            white-space: break-spaces;
                            padding-right: 20px;
                            strong {
                                font-weight: 700;
                            }
                            @media (max-width: 992px) {
                                padding-right: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.film_item {
    white-space: break-spaces;
    padding-right: 20px;
    @media (max-width: 992px) {
        padding-right: 5px;
        p {
            overflow: hidden;
        }
    }
}