.title_card {
    text-align: center;
    color: #fff;
    border: none !important;
    background-color: transparent !important;
    padding-bottom: 0!important;
    text-transform: uppercase;
}

.body_card {
    color: #fff;
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    padding-top: 0!important;
}