.cart {
    position: relative;
    .badge {
        position: absolute;
        z-index: 1;
        color: white;
        font-weight: 500;
        top: 0;
        right: 0;
        background: #e2c72e;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        clip-path: polygon(0% 0%, 100% 0, 100% 100%, 50% 80%, 0% 100%);
    }
    &:hover {
        .cart_img {
            img {
                transform: scale(1);
            }
            .layout_active {
                opacity: 1;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }
        }
    }
    .cart_img {
        position: relative;
        border-top-left-radius: 5px 5px !important;
        img {
            transform: scale(1.05);
            transition: all 0.3s ease-in-out;
        }
        .layout_active {
            position: absolute;
            top: 20%;
            bottom: 20%;
            left: 20%;
            right: 20%;
            background: rgba(0, 0, 0, 0.685);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            opacity: 0;
            transition: all 0.3s ease-in-out;
        }
    }
    >div {
        &:last-child {
            padding: 9px 15px 9px 6px !important;
        }
    }
    h4 {
        font-size: 20px;
        color: #000;
        font-weight: 500 !important;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-bottom: 5px;
    }
}